@font-face {
    font-family: 'Cabin-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Cabin-Regular'), url('../../r/fonts/Cabin-Regular.otf') format('truetype');
}
body {
    padding: 0;
    margin: 0;
}

body {
    background: #BBBEC3;

    font-size: 12px;
    font-family: Arial;
    color: #4f4f4f;  
}

h1 {
    font-size:  16px;
    margin: 0px;
    padding: 0px;
}
dd h2{
    font-weight: normal;
    font-size: inherit !important;
}

.ui-state-default {
    color: #4f4f4f;

    text-shadow: none !important;
    background: #D4D2D1 !important;
    box-shadow: none !important;
    border: 1px solid #B3B1B1 !important;

}

.ui-state-highlight .ui-icon {
    //background-image: url("/Transport/javax.faces.resource/images/ui-icons_616161_256x240.png.xhtml?ln=primefaces-aristo");
    /*background-image: url("/Transport-1.0-SNAPSHOT/javax.faces.resource/images/ui-icons_616161_256x240.png.xhtml?ln=primefaces-aristo");*/
}

.ui-widget-header {
    text-shadow: none !important;
}

.ui-datatable-header {
    background: #D4D2D1;
    border:none;
    padding:5px !important;
}

.ui-datatable-odd {
    background: none repeat scroll 0 0 #FFFFFF;
}

.ui-button, .ui-button-text-only{
    background-size: 100%;
    background: #D4D2D1 !important;
    border:none !important;
    border-radius: 0;
}

.ui-button-text {
    border-top: 1px solid #D4D2D1;
}

.ui-button.ui-state-default {
    border:none;
}

.ui-button.ui-state-hover {
    background: #D4D2D1 !important;
}
.ui-splitbutton-menubutton{
    background: #BBB !important;
}

.ui-splitbutton-menubutton.ui-state-default{
    background: #BBB !important;
}

.ui-selectonemenu, .ui-selectonemenu-panel {
    border-radius: 0px;
}

.ui-selectonemenu-label, .ui-selectonemenu-items {
    background: #D4D2D1 !important;
}

.ui-selectonemenu-label {
    box-shadow: none;
}

.ui-state-highlight {
    border-radius: 0px;
}

.ui-selectonemenu-items-wrapper .ui-state-hover {
    background: #bdbdbd !important;
    box-shadow: none !important;
}

tr[role="row"], .ui-datatable-empty-message {
    background: #E5E6E8;
}


.ui-datatable-odd:hover, .ui-datatable-even:hover {
    background: #C3C4C8 !important;
}

.ui-menuitem.ui-state-hover {
    background: none;
    box-shadow: none;
}

.ui-inputfield {
    border-radius: 0;
    border: 1px solid #B3B1B1;
}

.ui-selectonemenu-trigger {
    border-radius: 0px;
    border: none !important;
}

.ui-datepicker .ui-datepicker-calendar .ui-state-default {
    border: none !important;
    background:  none !important;
}

.ui-datepicker-header {
    background: #D4D2D1 !important;
    border: 1px solid #B3B1B1;
}

.ui-widget-content {
    border: 1px solid #B3B1B1;
    background: #D4D2D1;
}

.ui-dialog {
    border-radius: 0;
    background: #BBBEC3 !important;
}

.ui-dialog-titlebar {
    background: #9AA8BD;
}

.ui-breadcrumb {
    background: none;
    border:none;
}

.ui-breadcrumb ul li:first-of-type a {
    background-image: none !important;
    text-indent: 0;
    display: block;
    float: left;
    height: 21px;
    line-height: 20px;
    width: 100%;
    margin-top: 0;
    overflow: hidden;
    position: relative;
}

.ui-menubar, .ui-menu-list {
    background: #9AA8BD !important;
    border-radius: 0 !important;
    border: none;
}

.ui-menubar > li:hover, .ui-menu-list > li:hover {
    font-weight: bold; 
}

.ui-menuitem-link {
    text-decoration: none;
    color: #4f4f4f !important;
    font-size: 1.1em;
}

.ui-menuitem-link.ui-corner-all.ui-state-hover {
    background: inherit !important;
    font-weight: inherit;
    border: none;
    box-shadow: none;
    border-radius: 0;
}

th[role="columnheader"] {
    font-size: 11px;
}

td[role="gridcell"]  input.ui-inputtext {
    width: 100px;
    margin: 0 auto;
    display: block;
}

.insert-form{
    min-width: 300px;
    margin: 10px auto;
    padding:10px;
    background: #9AA8BD;
}

.insert-additional-costs-form{
    margin: 0 auto;
    padding:10px;
    background: #9AA8BD;
}

a:link, a:visited {
    color: #045491;
    font-weight : bold;
    text-decoration: none;
}

a:link:hover, a:visited:hover  {
    color: #045491;
    font-weight : bold;
    text-decoration : underline;
}

.delivery-direction-select-menu{
    width: 99% !important;
}

.toLift{
    background-color:#FFA500 !important;
}
.lifted{
    background-color:#FFFF5C !important;
}
.delivered{
    background-color:#FFFF5C !important;
}
.billed{
    background-color: #6CE26C !important;
}

.very_important{
    background-color:#FFFF5C !important;
}

.urgent{
    background-color: #FF7777 !important;
}

.dropdown {
    width: 99% !important;
}

.state-row {
    width: 99% !important;
}

.large-text {
    font-size: 1.3em;
}

.bold {
    font-weight: bold;
}

.min-width-seventy {
    min-width: 70px !important;
}

.min-width-fifty {
    min-width: 50px !important;
}

.ui-selectonemenu-items-wrapper {
    min-width: 50px !important;
}

.directionFilterClass{
    font-size: 1.2em !important;
    color: #000;
    position: absolute;
    top: 11px;
    left: 310px;
    width: auto !important;
}

.deliveryDatatableForm{
    position:relative;
}

.outputLabelExclamationMark{
    background: url('../../r/images/exclamation_mark.png') no-repeat; 
    background-size: 70%;
    background-position: center;
    height: 24px !important;
    width: 32px !important;
    display:block;
}

.inputLabelExclamationMark {
    background-image: url('../../r/images/exclamation_mark_transparent.png') !important;
    background-repeat: no-repeat !important;
    background-size: 19px !important;
    background-position: 99% 50% !important;
    display:block;
}

.error-messages{
    left: 0;
}

.totals {
    margin-bottom: 10px !important;
    display: inline-block;
}

.totalsOutput {
    font-size: 0.9em !important;
    margin: 0;
    text-align: right;
    display: block;
}

.errorRow{
    background-color: #FF7777 !important;
}

.books-split-button{
    min-width:100px;
}

.book-discarded-dropdown{
    min-width: 50px;
}

.book-discarded{
    background-color: #6CE26C !important;
}

.truck-group{
    margin: 5px;
}

.printing-houses-datatable{
    max-width: 400px;
    margin: 0 auto;
}
.two-pane-table {
    width: 99%;
}
.two-pane-table td:last-of-type {
    vertical-align: top;
}

.total-costs{
    font-size: 1.1em;
    font-weight: bold;
}

.label-dropdown-bug-fix{
    display: inline-block;
    width: 102%;
}

#export-pane{
    margin-bottom: 5px;

}

#export-pane > button {
    margin-left: 5px;
}

.printing-house-drop-down {
    width: 99% !important;
}

.text-area-insert-width{
    width: 96%;
}

#books-form\:printing-house{
    width: 200px !important;
}

.add-book-last-row-input{
    margin-right: 31px !important;
}

#bookspackages-datatable-form\:bookspackages-datatable\:filter\:filter {
    width: 70px;
}

th[role="columnheader"] {
    background-color: #D4D2D1 !important;
}


.filter-column-80-percent {
    width: 80% !important;
}

.TNT {
    background-color:#FFFF5C !important;
}

.Финансов.Отдел {
    background-color:#FF7777 !important;
}

.За.Вторник {
    background-color:#109FFF !important;
}